html{
    background-color: black;
}
*{
    text-align: center; 
}
h1{
    font-family:"Baskerville" ;
}
div{
    background-color: black; color: white;
}
#post{
width: 650px;
    border: solid white 5px;
    margin-left: 30%;
    margin-top: 10%;
    
    
}